// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Syntax LT CE',sans-serif;} // font header
.fs {font-family: 'Indie Flower',sans-serif;} // font spec
.fi {font-family: 'LigatureSymbols',sans-serif;} // font icon

// body
@bb: #fff7de; // body background

// colors
@red: #c70003;
@green: #2d8200;
@cp: #45301c; // color primary
@cl: @red; // color link
.red{color: @red;}
.green{color: @green;}

// font sizes
@fsp: 16px; // font size primary
@fsh1: 28px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 980px;
@content-padding: 20px;