#page-header {
	position: relative;
	z-index: 999;
	min-width: @content-width;
	background: #9e5400 url(../images/bg/01.png) repeat-y center;
	.container {
		padding-top: 22px;
		background: url(../images/bg/02.png) no-repeat;
	}
	.logo {
		position: relative;
		clear: both;
		position: relative;
		top: -30px;
		left: 14px;
		margin: 0 0 -25px;
		a {
			.fh;
			display: block;
			width: 670px;
			height: 177px;
			padding: 74px 0 0 231px;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 25px;
			color: #000;
			background: url(../images/logo/01.png) no-repeat;
			mark {
				font-weight: 600;
			}
		}
	}
}
#section-home-top {
	position: relative;
	z-index: 1;
	min-width: @content-width;
	background: #ffda8f;
	.col-main {
		padding-top: 293px;
	}
}
#wrapper {
	position: relative;
	.col-main {
		padding: 52px 0;
	}
	.col-left {
		padding: 52px 0;
		.homepage & {
			padding-top: 166px;
		}
	}
}
#page-footer {
	background: #fff;
	.copy {
		float: left;
		margin: 5px 0 5px 20px;
		font-size: 13px;
	}
	.xart {
		float: right;
		margin: 26px 35px 26px 0;
		font-size: 12px;
		text-transform: uppercase;
		img {
			float: right;
			margin: -1px 0 0 7px;
		}
		a {
			color: @cp;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cp;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e00e';
			font-size: 20px;
		}
		&:hover{
			background: @cl;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}