.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 13px;
			color: @cl;
			a {
				text-decoration: none;
				color: lighten(@cp,30%);
				&:hover{
					text-decoration: underline;
				}
			}
			&:before{
				color: @cp;
				top: 2px;
			}
		}
	}
}
.mod_search {
	position: relative;
	z-index: 1;
	float: right;
	input[type=text] {
		.rin;
		float: left;
		height: 28px;
		width: 286px;
		padding: 0 14px;
		color: #fff;
		font-size: 14px;
		text-shadow: 1px 1px 0 fade(#000,50%);
		background: url(../images/form/01.png) no-repeat;
		&::-webkit-input-placeholder {
		   color: #fff;
		}

		&:-moz-placeholder {
		   color: #fff;  
		}

		&::-moz-placeholder {
		   color: #fff;  
		}

		&:-ms-input-placeholder {  
		   color: #fff;  
		}
		&:focus {
			&::-webkit-input-placeholder {
			   color: transparent;
			   text-shadow: none;
			}

			&:-moz-placeholder {
			   color: transparent;
			   text-shadow: none;  
			}

			&::-moz-placeholder {
			   color: transparent; 
			   text-shadow: none; 
			}

			&:-ms-input-placeholder {  
			   color: transparent;  
			   text-shadow: none;
			}
		}
	}
	button {
		.rin;
		.transition(0.2s);
		float: left;
		height: 28px;
		width: 20px;
		overflow: hidden;
		white-space: nowrap;
		color: #ffda8f;
		margin: -2px 10px 0 18px;
		font-size: 24px;
		text-shadow: 1px 1px 0 fade(#000,30%);
		&:hover{
			color: #fff;
		}
		&:before{
			.fi;
			position: relative;
			content: '\e116';
			margin: 0 20px 0 0;
		}
	}
}
.mod_jflanguageselection {
	position: relative;
	z-index: 1;
	float: right;
	padding: 2px 52px 4px 6px;
	margin: 3px 0 0;
	color: #ffda8f;
	text-shadow: 1px 1px 0 fade(#000,30%);
	border-left: 1px solid fade(#000,20%);
	text-transform: uppercase;
	a {
		color: #ffda8f;
	}
	&:before{
		.fi;
		position: absolute;
		top: 0;
		right: 20px;
		content: '\e034';
		font-size: 24px;
		line-height: 1;
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			font-size: 15px;
			line-height: 1;
			margin: 0 0 0 9px;
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				a{
					color: #fff;
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	top: -31px;
	height: 277px;
	padding: 30px 0 0;
	ul {
		.rul;
		.box-shadow(0 0 6px fade(#000,40%));
		height: 320px;
		overflow: hidden;
		li {
			.rli;
		}
	}
	.pager {
		position: absolute;
		top: 0;
		right: 23px;
		span {
			float: left;
			position: relative;
			width: 17px;
			height: 17px;
			text-indent: -9999px;
			font-size: 18px;
			line-height: 1;
			color: #deab5f;
			cursor: pointer;
			&.cycle-pager-active{
				color: #ffda8f;
			}
			&:before{
				.fi;
				.transition(0.1s);
				position: absolute;
				top: 0;
				right: 0;
				text-indent: 0;
				content: '\e097';
			}
			&:hover{
				&:before{
					top: -2px;
				}
			}
		}
	}
}
.mod_menu-main {
	position: relative;
	z-index: 100;
	margin: 0 20px;
	.homepage & {
		margin-top: -250px;
		top: 250px;
	}
	&>ul {
		.rul;
		.clearfix;
		position: relative;
		&>li {
			.rli;
			position: static;
			float: left;
			&>a {
				.fh;
				display: block;
				width: 170px;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 1.3;
				background: url(../images/bg/03.png) no-repeat;
				&>span {
					display: block;
					height: 90px;
					padding: 15px 0 0;
					margin: 0 20px 8px;
					border-bottom: 2px solid fade(#fff,30%);
					overflow: hidden;
				}
				&>img {
					display: block;
				}
			}
			&:hover {
				&>a {
					background-position: 0 -98px;
				}
			}
			&.act {
				&>a {
					background-position: 0 -196px;
				}
			}
			&.item_02 {
				&>a {
					background-position: -170px 0;
				}
				&:hover {
					&>a {
						background-position: -170px -98px;
					}
				}
				&.act {
					&>a {
						background-position: -170px -196px;
					}
				}
				&>ul {
					background: #ff3c00;
				}
			}
			&.item_03 {
				&>a {
					background-position: -340px 0;
				}
				&:hover {
					&>a {
						background-position: -340px -98px;
					}
				}
				&.act {
					&>a {
						background-position: -340px -196px;
					}
				}
				&>ul {
					background: #4a2700;
				}
			}
			&.item_04 {
				&>a {
					background-position: -510px 0;
				}
				&:hover {
					&>a {
						background-position: -510px -98px;
					}
				}
				&.act {
					&>a {
						background-position: -510px -196px;
					}
				}
				&>ul {
					background: #2d8200;
				}
			}
			&:hover{
				&>ul {
					display: block;
					z-index: 999;
					margin-top: 0;
					max-height: 900px;
					&.hide {
						display: none;
					}
				}
			}
			&>ul {
				.rul;
				.clearfix;
				.transition(0.3s);
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				margin-top: 20px;
				font-size: 14px;
				background: #c70003;
				max-height: 0;
				overflow: hidden;
				h2 {
					margin: 20px 20px 0;
					a {
						color: #fff;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				&>li {
					.rli;
					position: relative;
					z-index: 1;
					float: left;
					width: 25%;
					padding: 0 10px 0 20px;
					a {
						color: #fff;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&>ul {
						.rul;
						margin: 20px 0;
						&>li {
							.rli;
							margin: 0 0 14px;
							&>a {
								display: inline-block;
								font-size: 18px;
								line-height: 1;
								font-weight: 600;
							}
							ul {
								.rul;
								margin: 9px 0;
								li {
									.rli;
									margin: 5px 0;
									line-height: 1.2;
								}
							}
						}
					}
					&.img {
						position: absolute;
						z-index: 0;
						bottom: 0;
						right: 0;
						float: none;
						width: 100%;
						padding: 0;
						img {
							display: block;
							margin: 0 0 0 auto;
						}
					}
				}
			}
		}
	}
}
.menu_main-header {
	margin: 25px -2px;
	padding: 139px 0 0;
	background: url(../images/bg/04.png) no-repeat;
	ul {
		.rul;
		li {
			.rli;
			padding: 0 0 0 37px;
			margin: 15px 0;
			font-size: 18px;
			line-height: 1.2;
			a {
				display: inline-block;
				position: relative;
				color: #fff;
				text-decoration: none;
				&:hover{
					&:before{
						color: #fff;
					}
				}
				&:before{
					.fi;
					position: absolute;
					left: -33px;
					top: -2px;
					font-size: 26px;
					line-height: 1;
					color: #ffda8f;
					text-shadow: 1px 1px 0 fade(#000,30%);
				}
			}
			&.trafic a:before {
				content: '\e024';
			}
			&.map a:before {
				top: -4px;
				left: -35px;
				font-size: 30px;
				content: '\e036';
			}
			&.weather a:before {
				top: -9px;
				left: -34px;
				font-size: 35px;
				content: '\e147';
			}
			&.tour a:before {
				top: -2px;
				left: -34px;
				font-size: 28px;
				content: '\e13a';
			}
			&.gallery a:before {
				content: '\e026';
			}
		}
	}
}
.mod_newsflash_xart {
	margin: 0 20px 24px;
	.header {
		.clearfix;
		margin: 0 0 23px;
		.mod-title {
			.fh;
			float: left;
			font-size: 24px;
			line-height: 1.2;
			text-transform: uppercase;
		}
		nav {
			float: right;
			a {
				display: inline-block;
				position: relative;
				padding: 0 29px 0 0;
				font-style: italic;
				color: @cp;
				&:before{
					.fi;
					position: absolute;
					top: -7px;
					right: 0;
					content: '\e002';
					font-style: normal;
					font-size: 28px;
				}
			}
		}
	}
	section {
		.clearfix;
		margin: 0 -20px;
		article {
			float: left;
			width: 33.33333%;
			padding: 0 20px;
			line-height: 1.2;
			margin: 0 0 40px;
			time {
				.clearfix;
				font-style: italic;
				font-size: 14px;
				&:before{
					.fi;
					content: '\e025';
					font-size: 28px;
					line-height: 1;
					color: #ff6200;
					font-style: normal;
					float: left;
					margin: -4px 8px 0 0;
				}
			}
			h2 {
				font-size: 18px;
				line-height: 1.2;
				margin: 6px 0;
				font-weight: 600;
			}
			p {
				margin: 10px 0;
			}
		}
	}
}
.mod_custom-contact {
	.clearfix;
	margin: 102px 0 57px;
	padding: 0 0 0 22px;
	border-left: 2px solid fade(#000,10%);
	border-bottom: 2px solid fade(#000,10%);
	.homepage &{
		margin-top: 157px;
		margin-bottom: -110px;
	}
	.mod-icon {
		margin: -100px 0 0 2px;
	}
	.mod-title {
		.fh;
		margin: 20px 0 16px;
		font-size: 18px;
		line-height: 1.2;
	}
	mark {
		color: @cl;
	}
	address {
		margin: 16px 0 18px;
		font-style: normal;
		line-height: 1.2;
	}
	strong {
		font-weight: 600;
	}
	ul {
		.rul;
		margin: 18px 0;
		li {
			.rli;
			padding: 0 0 0 27px;
			line-height: 1.3;
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
			&:before{
				.fi;
				left: 0px;
				top: 0;
				font-size: 25px;
				line-height: 1;
				color: @cl;
			}
			&.phone:before {
				content: '\e100';
			}
			&.mail:before {
				content: '\e09e';
			}
			&.url:before {
				content: '\e085';
			}
			&.location:before {
				content: '\e036';
			}
		}
	}
	.highlight {
		line-height: 1.15;
		padding: 20px 0 26px 22px;
		margin: 0 0 0 -22px;
		background: #ffe6a3;
	}
	.media {
		color: #fff;
		margin: 0 0 0 -22px;
		padding: 2px 0 13px 22px;
		background: #318400;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYTEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTg0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background-image: -moz-linear-gradient(left,  #7da100 0%, #318400 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#7da100), color-stop(100%,#318400));
		background-image: -webkit-linear-gradient(left,  #7da100 0%,#318400 100%);
		background-image: -o-linear-gradient(left,  #7da100 0%,#318400 100%);
		background-image: -ms-linear-gradient(left,  #7da100 0%,#318400 100%);
		background-image: linear-gradient(to right,  #7da100 0%,#318400 100%);
		a {
			position: relative;
			top: 6px;
			display: inline-block;
			font-size: 38px;
			line-height: 1;
			color: #fff;
			text-decoration: none;
			margin: 0 0 0 4px;
		}
	}
}
.mod_custom-tips {
	margin: 0 20px;
	.header {
		.clearfix;
		margin: 0 0 34px;
		.mod-title {
			.fh;
			float: left;
			font-size: 24px;
			line-height: 1.2;
			text-transform: uppercase;
		}
		nav {
			float: right;
			a {
				display: inline-block;
				position: relative;
				padding: 0 29px 0 0;
				font-style: italic;
				color: @cp;
				&:before{
					.fi;
					position: absolute;
					top: -7px;
					right: 0;
					content: '\e06e';
					font-style: normal;
					font-size: 28px;
				}
			}
		}
	}
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			width: 33.33333%;
			height: 270px;
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					img {
						.box-shadow(0 0 12px fade(#000,20%));
						-webkit-transform: rotate(0);
						-moz-transform: rotate(0);
						-ms-transform: rotate(0);
						-o-transform: rotate(0);
						transform: rotate(0);
					}
				}
			}
			img {
				.transition(0.2s);
				border: 10px solid #fff;
				-webkit-box-sizing: initial;
				-moz-box-sizing: initial;
				box-sizing: initial;
				-webkit-transform: rotate(-5deg);
				-moz-transform: rotate(-5deg);
				-ms-transform: rotate(-5deg);
				-o-transform: rotate(-5deg);
				transform: rotate(-5deg);
			}
			span {
				.fs;
				display: block;
				position: relative;
				padding: 20px 0 0 28px;
				text-align: left;
				font-size: 22px;
				margin: 0 0 0 -10px;
				&:before{
					position: absolute;
					content: '';
					left: -4px;
					top: -12px;
					width: 23px;
					height: 45px;
					background: url(../images/bg/05.png);
				}
			}
			&:nth-child(2n) {
				text-align: center;
				img {
					-webkit-transform: rotate(8deg);
					-moz-transform: rotate(8deg);
					-ms-transform: rotate(8deg);
					-o-transform: rotate(8deg);
					transform: rotate(8deg);
				}
				span {
					padding-right: 50px;
					padding-left: 0;
					text-align: right;
					margin: 0;
					&:before{
						left: auto;
						right: 0;
						top: -3px;
						width: 31px;
						height: 40px;
						background-position: 0 -45px;
					}
				}
			}
			&:nth-child(3n) {
				text-align: right;
				img {
					-webkit-transform: rotate(-3deg);
					-moz-transform: rotate(-3deg);
					-ms-transform: rotate(-3deg);
					-o-transform: rotate(-3deg);
					transform: rotate(-3deg);
				}
				span {
					padding-left: 66px;
					margin: 0;
					&:before{
						left: 26px;
						top: -3px;
						width: 22px;
						height: 41px;
						background-position: 0 -85px;
					}
				}
			}
		}
	}
}
.mod_banners-partners {
	margin: 0 0 30px;
	ul {
		.rul;
		li {
			.rli;
			text-align: center;
			font-size: 15px;
			margin: 0 0 20px;
			img {
				display: block;
				margin: 0 auto 5px;
			}
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_banners-bottom {
	.clearfix;
	position: relative;
	padding: 0 0 15px;
	background: url(../images/bg/06.png) no-repeat bottom;
	.mod-title {
		.fh;
		position: absolute;
		bottom: 100%;
		left: 0;
		background: #fff;
		text-transform: uppercase;
		padding: 17px 25px 3px 25px;
		min-width: 200px;
	}
	ul {
		.rul;
		.clearfix;
		margin: 0 0 0 -30px;
		li {
			.rli;
			float: left;
			margin: 25px 0 25px 30px;
		}
	}
}